@charset "UTF-8";

.l-header {
  @include inner;
  margin-top: 3em;
  margin-bottom: 2em;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
  }

  &__title-sub {
    margin: 2em 0 4em;
    font-size: 1.8rem;
    font-weight: normal;
  }

  &__link {
    color: $baseColor;
    text-decoration: none;

    &::before {
      display: inline-block;
      content: "\f0a8";
      padding-right: .2em;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
    }
  }

  &__nav {
    margin-left: 1em;

    button {
      display: inline-block;
      margin-left: .5em;
      padding: .2em 1em;
      border: 1px solid $baseColor;
      border-radius: 15px;
      background-color: #fff;
      color: $baseColor;
      font-weight: bold;

      &:hover {
        color: #fff;
        background-color: $baseColor;
      }
    }

    .active {
      color: #fff;
      background-color: $baseColor;
    }
  }
}
