@charset "UTF-8";

.subject {
  width: 25%;
  margin: 1em 0;
  padding: 0 2em 0 0;

  @include screen-mq(lg) {
    width: 33.3%;
  }

  @include screen-mq(md) {
    width: 50%;
  }

  @include screen-mq(sm) {
    width: 100%;
    padding: 0;
  }

  &__title {
    margin: 0 0 .2em;
    font-size: 1.5rem;
  }

  &__homework {
    font-size: 1.2rem;
  }

  &__homework::before {
    content: "-";
    display: block;
  }
}
