@charset "UTF-8";

.term {
  @include inner;
  margin-bottom: 8em;

  &__title {
    margin: 0 0 .5em;
    padding: 0 0 .5em;
    border-bottom: 1px solid #bbb;
    font-size: 2.4rem;
  }

  &__inner {
    @include flex;
    justify-content: flex-start;
    margin-bottom: 3em;
  }

  button {
    margin-right: 0.5em;
    padding: 0.1em 0.8em;
    border: 1px solid;
    border-radius: 10px;
  }
}

.semester {
  display: inline-block;
  margin: 1em 0;
  padding: .2em 1em;
  border-radius: 10px;
  background-color: #ddd;
  font-weight: bold;
}
